* {
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial !important;
  font-size: 16px;
}

nav {
  height: 80px;
}

nav img {
  height: 50px;
}

.map-container {
  height: 700px;
  border-bottom: 5px solid gray;
}

.nav > li > a {
  padding: 4px 0;
  border-bottom: 1px solid transparent;
}

.nav > li {
  padding: 26px 20px 25px;
}

nav ul li.active > a {
  background-color: transparent !important;
  border-bottom-color: #FFFFFF;
}

.navbar-blue {
  background-color: transparent;
}

.blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #444444;
  opacity: 0.8;
  z-index: 5;
  top: 0;
  bottom: 0;

}

.map {
  z-index: 1;
  overflow-x: hidden;
}

.under-navbar {
  margin-top: 80px;
}

.slogan-overlay {
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 0;
  right: 0;
}

.slogan-overlay .container p {
  color: #FFFFFF;
  font-size: 50px;
  margin: 80px auto;
  display: inline-block;
  line-height: 65px;
  font-family: "Inconsolata", Helvetica, Arial;
  text-shadow: 2px 2px black;
}

@-webkit-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@-moz-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.blinking-cursor {
  margin-left: -5px;
  width: 25px;
  height: 5px;
  border-left: 25px solid white;
  display: inline-block;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
}

.page-header {
  border: none;
}

.tableRow:hover {
  cursor: pointer;
}

nav .form-group {
  margin-left: 20px;
  margin-top: 22px;
}

nav .form-group .btn {
  font-size: 16px !important;
}

#forced{
  overflow-x: scroll;
  overflow-y: hidden;
}
.weather{
  margin: auto;
  width: 550px;
}
.weather_block {
  display: inline-block;
  float: left;
  width: 110px;
}
.clearfix {
  clear: both;
}

.weather_date{
  font-weight:bold;
  text-align: center;
}
.weather_temp{
  text-align:center;
}
.weather_icon{
  display: block;
  margin:auto;
}